<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Політичний Простір{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        {#<link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />#}
    </head>
    <body>
        <div class="wraper">
            <div class="header">
                <a href="/">
                    <div class="container"></div>
                </a>
            </div>
            <div class="container">
                {% block body %}{% endblock %}
            </div>
        </div>
        <footer>
            <div class="centered">
                Проект розроблений за підтримки AMERICA HOUSE KYIV.
            </div>
            <div class="centered">
                Ініціативна група: Віталій Пітвало, Олександр Мошта, Назар Ілмедов, Віталій Сухомлин.
            </div>
        </footer>
        {% block javascripts %}{% endblock %}
    </body>
</html>
