{% extends 'base.html.twig' %}

{% block body %}
    <div class="centered">
        <h1 class="centered">Політичний Простір</h1>
        <div id="the-basics">
            <input class="typeahead" type="text" placeholder="States of USA">
        </div>
    </div>

{% endblock %}

{% block stylesheets %}
<style>
    .centered {
        text-align: center;
    }
</style>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/app.js') }}"></script>
    <script>


        $.get('http://cors.io/?u=http://www.chesno.org/persons/json/deputies/8/?format=json', function (data) {
            organizations = data;
//            console.info(organizations);
        });
    </script>

{% endblock javascripts %}
